body {
	margin: 40px auto;
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #444;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	border-spacing: 0;
}

table.inner, table.inner th, table.inner td {
	border: none;
	text-align: center;
}

th, td {
	padding: 15px;
}

table.inner th, table.inner td {
	padding: 5px;
}

table.inner {
	padding-top: 31px;
}

th {
	text-align: left;
}

@media (prefers-color-scheme: light) {
}